select,
textarea,
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]) {
	@extend .form-control;

	&:focus {
		color: $text-color;
	}
}

.form-row {
	@extend .form-group;
}


.list-group-item.collapse {
	padding: 0;
	overflow: hidden;
}
