/**
 *  Forms
 */

select,
textarea,
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]) {
	@extend .form-control;

	&:focus {
		color: $text-color;
	}
}

.form-row {
	@extend .form-group;
}

/**
 * List groups
 */

.list-group-item.collapse {
	padding: 0;
	overflow: hidden;
}

/**
 * Home page sections
 */

.home-jumbotron {
	height: calc(100vh - 62px); // Altura total menos a altura da navbar
	background-size: cover;
	background-attachment: fixed;


	.section-wrapper {
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.3);
		display: flex;
		text-align: center;
		align-items: center;
		color: #fff;
		font-size: 150%;

		a {
			color: #fff;
		}
	}
}

.widget-wrapper {
	@include make-row();

	.widget-container {
		@include make-container();
	}

	.widget-header {
		@include make-md-column(12);
	}
}
