// ==========================================================================
// Footer
// ==========================================================================

#footer {

	.footer-widgets {
		background: #ddd;
		padding: 60px 0;
	}

	.footer-colophon {
		background: #d3d3d3;
		font-size: $font-size-small;
		text-align: center;
		padding: 10px 0;
	}
}
