// ==========================================================================
// Footer
// ==========================================================================

#footer {
	box-shadow: 0 0 40px rgba(0,0,0,0.1);
	background: #fff;

	body:not(.home) & {
		margin-top: 60px;
	}

	.footer-widgets {
		padding: 60px 0;

		img {
			width: inherit;
		}
	}

	.footer-colophon {
		background: rgba(128,128,128,0.1);
		font-size: $font-size-small;
		text-align: center;
		padding: 10px 0;
		opacity: .6;

		a {
			color: currentColor;
		}
	}
}
