#wrapper {
	overflow: auto;

	body:not(.home) & {
		@include make-container();
		margin-top: 80px;

		.wrapper-row {
			@include make-row();
		}
	}
}

.page-section {
	@include make-row();
}

/**
 * Posts
 */

.entry-title {
	a {
		color: inherit;
	}
}

.entry-meta {
	opacity: 0.6;
	font-size: 12px;
	text-transform: uppercase;
	padding: 10px 0;
	margin: 0 0 10px;
	letter-spacing: .1em;
}

.entry-content {
	font-size: 1.1em;
}
