
// ==========================================================================
// Header
// ==========================================================================
#header {
    .navbar-brand {
		padding: 0 15px;

		a {
			display: block;
		}

		img {
			height: auto;
			max-width: 100%;
			max-height: $navbar-height;
			width: auto;
		}
	}

    #main-navigation {

		.page-template-page-homeshop & {
			margin-bottom: 0;
		}

		.admin-bar &.navbar-fixed-top {
			margin-top: 32px;
		}
    }

	.navbar-main-navigation {
		@media (min-width: $screen-sm-min) {
			padding: 0;
		}
	}
    //
    // Title, description and image
    //
    .page-header {
        margin: 20px 0 20px;
        .site-title {}
        .site-description {
            font-size: 16px;
            font-style: italic;
        }
    }
}


.page-header {
	padding-bottom: 30px;
	margin: 0 0 60px;
	border-bottom: 1px solid #eee;

	.term-description {
		color: #aaa;
	}
}
