
// ==========================================================================
// Header
// ==========================================================================
#header {
    //
    // Navbar
    //
    #main-navigation {
    }
    //
    // Title, description and image
    //
    .page-header {
        margin: 20px 0 20px;
        .site-title {}
        .site-description {
            font-size: 16px;
            font-style: italic;
        }
    }
}
