/**
 * woocommerce.scss
 * Governs the general look and feel of WooCommerce sections of stores using themes that do not
 * integrate with WooCommerce specifically.
 */

/**
 * Imports
 */

/**
 * Global styles
 */
p.demo_store {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: 1em 0;
	text-align: center;
	background-color: $primary;
	color: $primarytext;
	z-index: 99998;
	box-shadow: 0 1px 1em rgba(0,0,0,0.2);
	a {
		color: $primarytext;
	}
}

.admin-bar {
	p.demo_store {
		top: 32px;
	}
}

/**
 * Utility classes
 */
.clear {
	clear: both;
}

/**
 * Main WooCommerce styles
 */
.woocommerce {
	.blockUI.blockOverlay {
		position: relative;
		@include loader();
	}

	.loader {
		@include loader();
	}

	a.remove {
		display: block;
		font-size: 1.5em;
		height: 1em;
		width: 1em;
		text-align: center;
		line-height: 1;
		border-radius: 100%;
		color: red !important;
		text-decoration: none;
		font-weight: 700;
		border: 0;

		&:hover {
			color: #fff !important;
			background: red;
		}
	}

	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info {
		@include alert();

		&:before {
			font-family: "WooCommerce";
			content: "\e028";
			display: inline-block;
			position: absolute;
			top: 1em;
			left: 1.5em;
			color: currentColor;
		}

		a {
			font-weight: 700;
		}

		.button {
			float: right;
		}

		li {
			list-style: none outside !important;
			padding-left: 0 !important;
			margin-left: 0 !important;
		}
	}

	.woocommerce-message {
		@include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
	}

	.woocommerce-info {
		@include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
	}

	.woocommerce-error {
		@include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
	}

	small.note {
		display: block;
		color: $subtext;
		font-size: .857em;
		margin-top: 10px;
	}

	.woocommerce-breadcrumb {
		@include clearfix();
		margin: 0 0 1em;
		padding: 0;
		font-size: 0.92em;
		color: $subtext;

		a {
			color: $subtext;
		}
	}

	.quantity {
		.qty {
			width: auto;
			max-width: 5em;
			padding-right: 0 !important;
		}
	}

	/**
	 * Product Page
	 */
	div.product {
		margin-bottom: 0;
		position: relative;

		.product_title {
			clear: none;
			margin-top: 0;
			padding: 0;
		}

		span.price,
		p.price {
			color: currentColor;
			font-size: 1.25em;
			margin-bottom: 2em;
			display: block;
			font-weight: normal;

			del {
				color: inherit;
				opacity: 0.5;
				display: inline-block;
			}

			ins {
				background: none;
				text-decoration: none;
				font-weight: inherit;
				display: inline-block;
			}

			.from {
				margin: -2px 0 0 0;
				text-transform: uppercase;
				color: currentColor;
			}
		}

		p.stock {
			font-size: 0.92em;
			margin-top: 2em;
		}

		.stock {
			color: $highlight;
		}

		.out-of-stock {
			color: red;
		}

		.woocommerce-product-rating {
			margin-bottom: 1.618em;
		}

		div.images {
			margin-bottom: 2em;

			img {
				display: block;
				width: 100%;
				height: auto;
				box-shadow: none;
			}
		}

		div.summary {
			margin-bottom: 2em;

			button[class*='add_to_cart'] {
				min-width: 150px;
			}
		}

		div.social {
			text-align: right;
			margin: 0 0 1em;

			span {
				margin: 0 0 0 2px;

				span {
					margin: 0;
				}

				.stButton .chicklets {
					padding-left: 16px;
					width: 0;
				}
			}

			iframe {
				float: left;
				margin-top: 3px;
			}
		}

		.woocommerce-tabs {
			ul.tabs {
				list-style: none;
				padding: 0 0 0 1em;
				margin: 2em 0 1.618em;
				overflow: initial;
				position: static;

				li {
					background-color: transparent;
					border: 0;
					display: inline-block;
					position: static;;
					z-index: 0;
					border-radius: 0;
					margin: 0;
					padding: 0;

					a {
						font-weight: normal;

						&:hover {
							text-decoration: none;
							color: inherit;;
						}
					}

					&.active {
						background: transparent;
						z-index: 2;
						border-bottom-color: transparent;
						margin-bottom: -1px;

						a {
							color: inherit;
							text-shadow: inherit;
						}

						&:before {
							box-shadow: 0;
						}

						&:after {
							box-shadow: -0;
						}
					}

					&:before,
					&:after {
						border: 0;
						position: static;;
						bottom: 0;
						width: 0;
						height: 0;
						content: none;;
					}

					&:before {
						left: -6px;
						-webkit-border-bottom-right-radius: 4px;
						-moz-border-bottom-right-radius: 4px;
						border-bottom-right-radius: 4px;
						border-width: 0 1px 1px 0;
						box-shadow: 0;
					}

					&:after {
						right: -6px;
						-webkit-border-bottom-left-radius: 4px;
						-moz-border-bottom-left-radius: 4px;
						border-bottom-left-radius: 4px;
						border-width: 0 0 1px 1px;
						box-shadow: 0;
					}
				}

				&:before {
					content: none !important;
				}
			}

			.panel {
				margin: 0 0 2em;
				border: 0;
				border-bottom: 1px solid $gray-lighter;
				padding: 15px 0;

				@media( min-width: $screen-sm-min ) {
					padding: 30px 16%;
				}

				h2 {
					text-align: center;
					margin: 0 0 1em 0;
				}

			}
		}

		p.cart {
			margin-bottom: 2em;
			@include clearfix();
		}

		form.cart {
			margin-bottom: 2em;
			@include clearfix();

			div.quantity {
				float: left;
				margin: 0 4px 0 0;
			}

			table {
				border-width: 0 0 1px 0;

				td {
					padding-left: 0;
				}

				div.quantity {
					float: none;
					margin: 0;
				}

				small.stock {
					display: block;
					float: none;
				}
			}

			.variations {
				margin: 3em 0 2em 0;
				border: 0;
				width: 100%;

				td,
				th {
					border: 0;
					vertical-align: top;
					line-height: 2em;
				}

				.label, label {
					font-size: 1em;
					color: inherit;
					line-height: 3em;

				}

				select {
					max-width: 100%;
					min-width: 75%;
					display: inline-block;
					margin-right: 1em;
				}

				td.label {
					padding-right: 1em;
				}
			}

			.woocommerce-variation-description {
				p {
					margin-bottom: 1em;
				}
			}

			.reset_variations {
				visibility: hidden;
				font-size: 1em;
				float: right;
			}

			.wc-no-matching-variations {
				display: none;
			}

			.button {
				vertical-align: middle;
				float: left;
			}

			.group_table {
				td.label {
					padding-right: 1em;
					padding-left: 1em;
				}

				td {
					vertical-align: top;
					padding-bottom: .5em;
					border: 0;
				}
			}
		}
	}

	span.onsale {
		font-weight: 700;
		position: absolute;
		text-align: center;
		font-size: .857em;
		-webkit-font-smoothing: antialiased;
		top: 0;
		left: 0;
		left: auto;
		margin: 0 15px;
		padding: 0px 10px;
		line-height: 3;
		min-height: 3em;
		border-radius: 0 1.5em 1.5em 1.5em;
		z-index: 10;	}

	/**
	 * Product loops
	 */
	.products ul,
	ul.products {
		margin-bottom: 1em;
		padding: 0;
		list-style: none outside;
		clear: both;
		@include make-row();

		li {
			list-style: none outside;
		}
	}

	ul.products {
		li.product {
			.onsale {
				top: 0;
				right: 0;
				left: auto;
				margin: 0 15px;
				padding: 0px 10px;
				line-height: 3;
				min-height: 3em;
				border-radius: 1.5em 0 1.5em 1.5em;
			}

			h3 {
				padding: .5em 0;
				margin: 0;
				color: currentColor;
				font-size: $font-size-h3;
			}

			a {
				text-decoration: none;
			}

			.woocommerce-LoopProduct-link {
				color: currentColor;
			}

			a img {
				width: 100%;
				height: auto;
				display: block;
				margin: 0 0 1em;
				box-shadow: none;
			}

			strong {
				display: block;
			}

			.star-rating {
				font-size: .857em;
				position: absolute;
				top: 12px;
				left: 10px;
				margin: 0 15px;
			}

			.button {
				margin-top: 1em;
			}

			.price {
				color: currentColor;
				display: block;
				font-weight: normal;
				margin-bottom: .5em;
				font-size: .857em;

				del {
					color: inherit;
					opacity: 0.5;
					display: inline-block;
				}

				ins {
					background: none;
					text-decoration: none;
					font-weight: inherit;
					display: inline-block;
				}

				.from {
					font-size: 0.67em;
					margin: -2px 0 0 0;
					text-transform: uppercase;
					color: rgba(desaturate($highlight, 75%), 0.5);
				}
			}
		}
	}

	.woocommerce-result-count {
		margin: 0 0 1em;
		font-size: $font-size-small;
		color: $gray-light;
	}

	.woocommerce-ordering {
		margin: 0 0 2em;
		color: $gray-light;

		select {
			font-size: $font-size-small;
			vertical-align: top;
		}
	}

	nav.woocommerce-pagination {
		text-align: center;

		ul {
			display: inline-block;
			white-space: nowrap;
			padding: 0;
			clear: both;
			border: 1px solid darken( $secondary, 10% );
			border-right: 0;
			margin: 1px;

			li {
				border-right: 1px solid darken( $secondary, 10% );
				padding: 0;
				margin: 0;
				float: left;
				display: inline;
				overflow: hidden;

				a,
				span {
					margin: 0;
					text-decoration: none;
					padding: 0;
					line-height: 1;
					font-size: 1em;
					font-weight: normal;
					padding: .5em;
					min-width: 1em;
					display: block;
				}

				span.current,
				a:hover,
				a:focus {
					background: $secondary;
					color: darken( $secondary, 40% );
				}
			}
		}
	}

	/**
	 * Buttons
	 */
	a.button,
	button.button,
	input.button,
	#respond input#submit {
		@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
		@include btn();
		@include btn-primary();

		&.loading {
			opacity: 0.25;
			padding-right: 2.618em;

			&:after {
				font-family: "WooCommerce";
				content: "\e01c";
				vertical-align: top;
				-webkit-font-smoothing: antialiased;
				font-weight: 400;
				position: absolute;
				top: .618em;
				right: 1em;
				-webkit-animation: spin 2s linear infinite;
			    -moz-animation: spin 2s linear infinite;
			    animation: spin 2s linear infinite;
			}
		}

		&.added {
			&:after {
				font-family: 'WooCommerce';
				content: "\e017";
				margin-left: .53em;
				vertical-align: bottom;
			}
		}

		&:hover {
		}

		&.alt {
			@include btn-success();

			&:hover {
			}

			&.disabled,
			&:disabled,
			&:disabled[disabled],
			&.disabled:hover,
			&:disabled:hover,
			&:disabled[disabled]:hover {
				@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
			}
		}

		&:disabled,
		&.disabled,
		&:disabled[disabled] {
			color: inherit;
			cursor: not-allowed;
			@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);

			&:hover {
				color: inherit;
				background-color: $secondary;
			}
		}
	}

	.cart .button,
	.cart input.button {
		float: none;
	}

	a.added_to_cart {
		padding-top: .5em;
		white-space: nowrap;
		display: inline-block;
	}

	/**
	 * Reviews
	 */
	#reviews {
		h2 small {
			float: right;
			color: $subtext;
			font-size: 15px;
			margin: 10px 0 0 0;

			a {
				text-decoration: none;
				color: $subtext;
			}
		}

		h3 {
			margin: 2em 0 1em 0;
		}

		#respond {
			margin: 0;
			border: 0;
			padding: 0;
		}

		#comment {
			height: 75px;
		}

		#comments {
			.add_review {
				@include clearfix();
			}

			h2 {
				clear: none;
			}

			ol.commentlist {
				@include clearfix();
				margin: 0;
				width: 100%;
				background: none;
				list-style: none;
				padding: 0;

				li {
					padding: 0;
					margin: 0 0 20px;
					border: 0;
					position: relative;
					background: 0;
					border: 0;

					.meta {
						color: $gray;
						font-size: $font-size-small;
					}

					img.avatar {
						float: left;
						position: absolute;
						top: 0;
						left: 0;
						padding: 3px;
						width: 32px;
						height: auto;
						background: $secondary;
						border: 1px solid $gray-lighter;
						margin: 0;
						box-shadow: none;
					}

					.comment-text {
						margin: 0 0 0 50px;
						border: 1px solid $gray-lighter;
						border-radius: 0;
						padding: 1em 1em 0;
						@include clearfix();

						p {
							margin: 0 0 1em;
						}

						p.meta {
							font-size: 0.83em;
						}
					}
				}

				ul.children {
					list-style: none outside;
					margin: 20px 0 0 50px;

					.star-rating {
						display: none;
					}
				}

				#respond {
					border: 1px solid darken( $secondary, 3% );
					border-radius: 4px;
					padding: 1em 1em 0;
					margin: 20px 0 0 50px;
				}
			}

			.commentlist > li:before {
				content: "";
			}
		}
	}

	/**
	 * Star ratings
	 */
	.star-rating {
		float: right;
		overflow: hidden;
		position: relative;
		height: 1em;
		line-height: 1;
		font-size: 1em;
		width: 5.4em;
		font-family: 'star';

		&:before {
			content: "\73\73\73\73\73";
			color: darken( $secondary, 10% );
			float: left;
			top: 0;
			left: 0;
			position: absolute;
		}

		span {
			overflow: hidden;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
			padding-top: 1.5em;
		}

		span:before {
			content: "\53\53\53\53\53";
			top: 0;
			position: absolute;
			left: 0;
		}
	}

	.woocommerce-product-rating {
		@include clearfix();
		line-height: 2;
		display: block;

		.star-rating {
			margin: .5em 4px 0 0;
			float: left;
		}
	}

	.products {
		.star-rating {
			display: block;
			margin: 0 0 .5em;
			float: none;
		}
	}

	.hreview-aggregate {
		.star-rating {
			margin: 10px 0 0 0;
		}
	}

	#review_form {
		#respond {
			@include clearfix();
			position: static;
			margin: 0;
			width: auto;
			padding: 0 0 0;
			background: transparent none;
			border: 0;

			p {
				margin: 0 0 1em;
			}

			.stars {
				font-size: 2em;
			}

			.form-submit {
				input {
					left: auto;
				}
			}

			textarea {
				box-sizing: border-box;
				width: 100%;
			}
		}
	}

	p.stars {
		a {
			position: relative;
			height: 1em;
			width: 1em;
			text-indent: -999em;
			display: inline-block;
			text-decoration: none;

			&:before {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 1em;
				height: 1em;
				line-height: 1;
				font-family: "WooCommerce";
				content: "\e021";
				text-indent: 0;
			}

			&:hover {
				~ a:before {
					content: "\e021";
				}
			}
		}

		&:hover {
			a {
				&:before {
					content: "\e020";
				}
			}
		}

		&.selected {
			a.active {
				&:before {
					content: "\e020";
				}

				~ a:before {
					content: "\e021";
				}
			}

			a:not(.active) {
				&:before {
					content: "\e020";
				}
			}
		}
	}

	/**
	 * Tables
	 */
	table.shop_attributes {
		border: 0;
		border-top: 1px dotted $gray-lighter;
		margin-bottom: 1.618em;
		width: 100%;

		th {
			width: 150px;
			font-weight: 700;
			padding: 8px;
			border-top: 0;
			border-bottom: 1px dotted $gray-lighter;
			margin: 0;
			line-height: 1.5;
		}

		td {
			font-style: italic;
			padding: 0;
			border-top: 0;
			border-bottom: 1px dotted $gray-lighter;
			margin: 0;
			line-height: 1.5;

			p {
				margin: 0;
				padding: 8px 0;
			}
		}

		.alt td,
		.alt th {
			background: rgba(0,0,0,0.025);
		}
	}

	table.shop_table {
		border: 1px solid $gray-lighter;
		margin: 0px -1px 24px 0px;
		text-align: left;
		width: 100%;
		border-collapse: separate;
		border-radius: 0;

		th {
			font-weight: 700;
			padding: 9px 12px;
		}

		td {
			border-top: 1px solid $gray-lighter;
			padding: 12px;
			vertical-align: middle;

			small {
				font-weight: normal;
			}
		}

		tbody:first-child {
			tr:first-child {
				th,
				td {
					border-top: 0;
				}
			}
		}

		tfoot td,
		tfoot th,
		tbody th {
			font-weight: 700;
			border-top: 1px solid $gray-lighter;
		}
	}

	table.my_account_orders {
		font-size: 0.85em;

		th,
		td {
			padding: 4px 8px;
			vertical-align: middle;
		}

		.button {
			white-space: nowrap;
		}

		.order-actions {
			text-align: right;

			.button {
				margin: .125em 0 .125em .25em;
			}
		}
	}

	td.product-name {
		dl.variation {
			margin: .5em 0 0 0;
			font-size: 0.8em;
			text-transform: uppercase;
			opacity: .7;

			dt,
			dd {
				display: inline-block;
				float: left;
				margin-bottom: 0;
			}

			dt {
				font-weight: 700;
				padding: 0;
				margin: 0 4px 0 0;
				clear: left;
			}

			dd {
				padding: 0;

				p:last-child {
					margin-bottom: 0;
				}
			}
		}

		p.backorder_notification {
			font-size: 0.83em;
		}
	}

	td.product-quantity {
		min-width: 80px;
	}


	/**
	 * Cart sidebar
	 */
	ul.cart_list,
	ul.product_list_widget {
		list-style: none outside;
		padding: 0;
		margin: 0;

		li {
			padding: 4px 0;
			margin: 0;
			@include clearfix();
			list-style: none;

			a {
				display: block;
				margin-bottom: .3em;
				@extend .h4;
			}

			img {
				float: right;
				margin-left: 4px;
				width: 32px;
				height: auto;
				box-shadow: none;
			}

			dl {
				margin: 0;
				padding-left: 1em;
				border-left: 2px solid $gray-lighter;
				@include clearfix();

				dt,
				dd {
					display: inline-block;
					margin-bottom: 0;
				}

				dt {
					font-weight: inherit;;
					padding: 0;
					margin: 0;
				}

				dd {
					padding: 0 0 .25em 0;

					p:last-child {
						margin-bottom: 0;
					}
				}
			}

			.star-rating {
				float: none;
			}
		}
	}

	&.widget_shopping_cart,
	.widget_shopping_cart {
		.total {
			border-top: 1px solid $gray-lighter;
			padding: 10px;
			margin: 0;
			text-align: center;
			display: flex;
			justify-content: space-between;

			strong {
				min-width: 40px;
				display: inline-block;
			}
		}

		.cart_list {
			li {
				padding: 1em 1em 1em 4em;
				position: relative;

				a.remove {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 10;
				}
			}

			.empty {
				padding: 1em;
				text-align: center;
			}
		}

		.buttons {
			margin: 0;
			padding: 10px;
			text-align: center;
		}
	}

	/**
	 * Forms
	 */
	form {
		.form-row {
			padding: 3px;
			margin: 0 0 6px;

			[placeholder]:focus::-webkit-input-placeholder {
				-webkit-transition: opacity 0.5s 0.5s ease;
				-moz-transition: opacity 0.5s 0.5s ease;
				transition: opacity 0.5s 0.5s ease;
				opacity: 0;
			}

			label {
				line-height: 2;
			}

			label.hidden {
				visibility: hidden;
			}

			label.inline {
				display: inline;
			}

			select {
				cursor: pointer;
				margin: 0;
			}

			.required {
				color: red;
				font-weight: 700;
				border: 0;
			}

			.input-checkbox {
				display: inline;
				margin: -2px 8px 0 0;
				text-align: center;
				vertical-align: middle;
			}

			input.input-text,
			textarea {
				box-sizing: border-box;
				width: 100%;
				margin: 0;
				outline: 0;
				line-height: 1;
			}

			textarea {
				height: 4em;
				line-height: 1.5;
				display: block;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
			}

			.select2-container {
				width: 100%;
				line-height: 2.7em;

				.select2-choice {
					border-radius: 0;
				}
			}

			&.woocommerce-invalid {
				label {
					color: $red;
				}
				.select2-container,
				input.input-text,
				select {
					border-color: $red;
				}
			}

			&.woocommerce-validated {
				.select2-container,
				input.input-text,
				select {
					border-color: $green - #111;
				}
			}

			::-webkit-input-placeholder {
				line-height: normal;
			}

			:-moz-placeholder {
				line-height: normal;
			}

			:-ms-input-placeholder {
				line-height: normal;
			}
		}
	}

	form.login,
	form.checkout_coupon,
	form.register {
		border: 1px solid darken( $secondary, 10% );
		padding: 20px;
		margin: 2em 0 2em 0px;
		text-align: left;
		border-radius: 0;
	}

	form.checkout_coupon {
		text-align: center;

		p {
			float: none;
			display: inline-block;
			width: auto;
		}

		#coupon_code {
			min-width: 250px
		}
	}

	ul#shipping_method {
		list-style: none outside;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: .25em 0 .25em 22px;
			text-indent: -22px;
			list-style: none outside;
			input {
				margin: 3px 0.5ex;
			}
			label {
				display: inline;
			}
		}

		.amount {
			font-weight: 700;
		}
	}

	p.woocommerce-shipping-contents {
		margin: 0;
	}

	/**
	 * Order page
	 */
	.order_details {
		@include clearfix();
		margin: 0 0 1.5em;
		list-style: none;

		li {
			float: left;
			margin-right: 2em;
			text-transform: uppercase;
			font-size: 0.715em;
			line-height: 1;
			border-right: 1px dashed darken( $secondary, 10% );
			padding-right: 2em;
			margin-left: 0;
			padding-left: 0;
			list-style-type: none;

			strong {
				display: block;
				font-size: 1.4em;
				text-transform: none;
				line-height: 1.5;
			}

			&:last-of-type {
				border: none;
			}
		}
	}

	/**
	 * Layered nav widget
	 */
	.widget_layered_nav {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none outside;

			li {
				@include clearfix();
				padding: 0 0 1px;
				list-style: none;

				a,
				span {
					padding: 1px 0;
				}
			}

			li.chosen {
				a {
					&:before {
						@include iconbefore( "\e013" );
						color: $red;
					}
				}
			}
		}
	}

	.widget_layered_nav_filters {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none outside;
			overflow: hidden;
			zoom: 1;

			li {
				float: left;
				padding: 0 1px 1px 0;
				list-style: none;

				a {
					text-decoration: none;

					&:before {
						@include iconbefore( "\e013" );
						color: $red;
					}
				}
			}
		}
	}

	/**
	 * Price filter widget
	 */
	.widget_price_filter {
		.price_slider {
			margin-bottom: 1em;
		}

		.price_slider_amount {
			text-align: right;
			line-height: 2.4;
			font-size: 0.8751em;

			.button {
				font-size: 1.15em;
			}

			.button {
				float: left;
			}
		}

		.ui-slider {
			position: relative;
			text-align: left;
			margin-left: .5em;
			margin-right: .5em;
		}

		.ui-slider .ui-slider-handle {
			position: absolute;
			z-index: 2;
			width: 1em;
			height: 1em;
			background-color: $primary;
			border-radius: 1em;
			cursor: ew-resize;
			outline: none;
			top: -.3em;
			background-image: repeating-linear-gradient(
			-45deg,
			rgba(255,255,255,0.3),
			rgba(0,0,0,0.05) 2px,
			rgba(255,255,255,0.3) 2px,
			rgba(255,255,255,0.3) 4px,
			rgba(0,0,0,0.05) 4px
			);

			//&:last-child {
				margin-left: -.5em;
			//}
		}

		.ui-slider .ui-slider-range {
			position: absolute;
			z-index: 1;
			font-size: .7em;
			display: block;
			border: 0;
			border-radius: 1em;
			background-color: $primary;
		}

		.price_slider_wrapper .ui-widget-content {
			border-radius: 1em;
			background-color: $primary;
			box-shadow: inset 0 0 20px rgba(80,80,80,0.6);
			border: 0;
		}

		.ui-slider-horizontal {
			height: .5em;
		}

		.ui-slider-horizontal .ui-slider-range {
			top: 0;
			height: 100%;
		}

		.ui-slider-horizontal .ui-slider-range-min {
			left: -1px;
		}

		.ui-slider-horizontal .ui-slider-range-max {
			right: -1px;
		}
	}

	/**
	 * Rating Filter Widget
	 */
	.widget_rating_filter {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none outside;

			li {
				@include clearfix();
				padding: 0 0 1px;
				list-style: none;

				a {
					padding: 1px 0;
					text-decoration: none;
				}

				.star-rating {
					float: none;
					display: inline-block;
				}
			}

			li.chosen {
				a {
					&:before {
						@include iconbefore( "\e013" );
						color: $red;
					}
				}
			}
		}
	}
}

/**
 * Account page
 */
.woocommerce-account {
	.woocommerce {
		@include make-row();
	}

	.woocommerce-MyAccount-navigation {
		float: left;
		@include make-md-column(4);

		ul {
			@extend .list-group;
			padding: 0;
			list-style: none;
		}

		li {

			a {
				@extend .list-group-item;
				color: currentColor;
				margin-top: -1px;
			}
		}
	}

	.woocommerce-MyAccount-content {
		float: right;
		@include make-md-column(8);
	}

	.addresses {
		.title {
			@include clearfix();

			h3 {
				float: left;
			}

			.edit {
				float: right;
			}
		}
	}

	ol.commentlist.notes {
		li.note {

			p.meta {
				font-weight: 700;
				margin-bottom: 0;
			}

			.description {
				p:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	ul.digital-downloads {
		margin-left: 0;
		padding-left: 0;

		li {
			list-style: none;
			margin-left: 0;
			padding-left: 0;

			&:before {
				@include iconbefore( "\e00a" );
			}

			.count {
				float: right;
			}
		}
	}
}

/**
 * Cart page
 */
.woocommerce-cart {
	table.cart {
		.product-thumbnail {
			min-width: 32px;
			padding: 5px;
		}

		img {
			max-width: 80px;
			width: auto;
			box-shadow: none;
		}

		th,
		td {
			vertical-align: middle;
		}

		.product-name {
			width: 35%;


			a {
				color: currentColor;
				font-weight: 700;
				@extend .h3;
			}
		}

		.product-quantity {
			width: 15%;
		}

		td.actions {
			.coupon {
				.input-text {
					float: left;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					border: 1px solid darken( $secondary, 10% );
					padding: 6px 6px 5px;
					margin: 0 4px 0 0;
					outline: 0;
					line-height: 1;
					min-width: 180px;
				}
			}
		}

		input {
			margin: 0;
			vertical-align: middle;
			line-height: inherit;
		}
	}

	.wc-proceed-to-checkout {
		@include clearfix;
		padding: 1em 0;

		a.checkout-button {
			display: block;
			text-align: center;
			margin-bottom: 1em;
			font-size: 1.25em;
			padding: 1em;
		}
	}

	.cart-collaterals {
		.shipping_calculator {
			.button {
				width: 100%;
				float: none;
				display: block;
			}

			.shipping-calculator-button {
				&:after {
					@include iconafter( "\e019" );
				}
			}
		}

		.cart_totals {
			p {
				small {
					color: $subtext;
					font-size: 0.83em;
				}
			}

			table {
				border-collapse: separate;
				margin: 0 0 6px;
				padding: 0;

				tr:first-child {
					th,
					td {
						border-top: 0;
					}
				}

				th {
					width: 40%;
				}

				td,
				th {
					vertical-align: top;
					border-left: 0;
					border-right: 0;
					line-height: 1.5em;
				}

				small {
					color: $subtext;
				}

				select {
					width: 100%;
				}
			}

			.discount td {
				color: $highlight;
			}

			tr td,
			tr th {
				border-top: 1px solid $gray-lighter;
			}
		}

		.cross-sells {
			ul.products {
				li.product {
					margin-top: 0;
				}
			}
		}
	}
}

/**
 * Checkout
 */
.woocommerce-checkout, #add_payment_method {
	.checkout {
		.col-2 {
			h3#ship-to-different-address {
				float: left;
				clear: none;
			}

			.notes {
				clear: left;
			}

			.form-row-first {
				clear: left;
			}
		}

		.create-account small {
			font-size: 11px;
			color: $subtext;
			font-weight: normal;
		}

		div.shipping-address {
			padding: 0;
			clear: left;
			width: 100%;
		}

		.shipping_address {
			clear: both;
		}
	}

	#payment {
		background: transparent;
		border-radius: 0;

		ul.payment_methods {
			@include clearfix();
			text-align: left;
			padding: 1em;
			border-bottom: 1px solid $gray-lighter;
			margin: 0;
			list-style: none outside;

			li {
				line-height: 2;
				text-align: left;
				margin: 0;
				font-weight: normal;
				@include clearfix;

				input {
					margin: 0 1em 0 0;
				}

				img {
					vertical-align: middle;
					margin: -2px 0 0 .5em;
					padding: 0;
					position: relative;
					box-shadow: none;
				}

				img + img {
					margin-left: 2px;
				}
			}
		}

		div.form-row {
			padding: 1em;
		}

		div.payment_box {
			position: relative;
			box-sizing: border-box;
			width: 100%;
			padding: 1em;
			margin: 1em 0 1em 0;
			font-size: 0.92em;
			border-radius: 0;
			line-height: 1.5;
			background-color: $gray-lighter;
			color: inherit;

			input.input-text, textarea {
				border-color: darken( $secondary, 15% );
				border-top-color: darken( $secondary, 20% );
			}

			::-webkit-input-placeholder {
				color: darken( $secondary, 20% );
			}

			:-moz-placeholder {
				color: darken( $secondary, 20% );
			}

			:-ms-input-placeholder {
				color: darken( $secondary, 20% );
			}

			.woocommerce-SavedPaymentMethods {
				list-style: none outside;
				margin: 0;
				.woocommerce-SavedPaymentMethods-token,
				.woocommerce-SavedPaymentMethods-new {
					margin: 0 0 .5em 0;
					label {
						cursor: pointer;
					}
				}
				.woocommerce-SavedPaymentMethods-tokenInput {
					vertical-align: middle;
					margin: -3px 1em 0 0;
					position: relative;
				}
			}

			.wc-credit-card-form {
				border: 0;
				padding: 0;
				margin: 1em 0 0;
			}
			.wc-credit-card-form-card-number,
			.wc-credit-card-form-card-expiry,
			.wc-credit-card-form-card-cvc {
				font-size: 1.5em;
				padding: 8px;
				background-repeat: no-repeat;
				background-position: right .618em center;
				background-size: 32px 20px;

				&.visa {
					background-image: url(../images/woocommerce/icons/credit-cards/visa.svg);
				}

				&.mastercard {
					background-image: url(../images/woocommerce/icons/credit-cards/mastercard.svg);
				}

				&.laser {
					background-image: url(../images/woocommerce/icons/credit-cards/laser.svg);
				}

				&.dinersclub {
					background-image: url(../images/woocommerce/icons/credit-cards/diners.svg);
				}

				&.maestro {
					background-image: url(../images/woocommerce/icons/credit-cards/maestro.svg);
				}

				&.jcb {
					background-image: url(../images/woocommerce/icons/credit-cards/jcb.svg);
				}

				&.amex {
					background-image: url(../images/woocommerce/icons/credit-cards/amex.svg);
				}
				&.discover {
					background-image: url(../images/woocommerce/icons/credit-cards/discover.svg);
				}
			}

			span.help {
				font-size: .857em;
				color: $subtext;
				font-weight: normal;
			}

			.form-row {
				margin: 0 0 1em;
			}

			p:last-child {
				margin-bottom: 0;
			}

			&:before {
				content: "";
				display: block;
				border: 1em solid $gray-lighter; /* arrow size / color */
				border-right-color: transparent;
				border-left-color: transparent;
				border-top-color: transparent;
				position: absolute;
				top: -.85em;
				left: 0;
				margin: -1em 0 0 2em;
			}
		}

		.payment_method_paypal {
			.about_paypal {
				float: right;
				line-height: 2.5;
				font-size: 0.83em;
				margin-left: 1em;
			}

			img {
				max-height: 52px;
				vertical-align: middle;
			}
		}
	}
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: center;
	font-weight: 600;
	padding: 3px .5em;
	font-size: 1em;

	&.strong {
		background-color: #c1e1b9;
		border-color: #83c373;
	}

	&.short {
		background-color: #f1adad;
		border-color: #e35b5b;
	}

	&.bad {
		background-color: #fbc5a9;
		border-color: #f78b53;
	}

	&.good {
		background-color: #ffe399;
		border-color: #ffc733;
	}
}

.woocommerce-password-hint {
	margin: .5em 0 0 0;
	display: block;
}

/* added to get around variation image flicker issue */
.product.has-default-attributes.has-children {
	> .images {
		opacity: 0;
	}
}

/**
 * Twenty Eleven specific styles
 */
#content.twentyeleven {
	.woocommerce-pagination {
		a {
			font-size: 1em;
			line-height: 1;
		}
	}
}

/**
 * Twenty Thirteen specific styles
 */
.single-product {
	.twentythirteen {
		.entry-summary,
		#reply-title,
		#respond #commentform {
			padding: 0;
		}

		p.stars {
			clear: both;
		}
	}
}

.twentythirteen {
	.woocommerce-breadcrumb {
		padding-top: 40px;
	}
}

/**
 * Twenty Fourteen specific styles
 */
.twentyfourteen {
	ul.products {
		li.product {
			margin-top: 0 !important;
		}
	}
}

/**
 * Twenty Sixteen specific styles
 */
body:not(.search-results) {
	.twentysixteen {
		.entry-summary {
			color: inherit;
			font-size: inherit;
			line-height: inherit;
		}
	}
}

.twentysixteen {
	.price ins {
		background: inherit;
		color: inherit;
	}
}

a .product-title {
	color: currentColor;
}
