.h_custom_variations {
	margin: 30px 0;

	.h_custom_variation {
		& + .h_custom_variation {
			margin-top: 30px;
		}
	}

	.h_var_set {
		list-style: none;
		padding: 0;
	}

	.h_var_item {
		display: inline-block;

		a {
			margin-right: 3px;
		}
	}
}
