/**
 * WooCommerce CSS Variables
 */

$woocommerce:   	$brand-primary;
$green:         	$brand-success;
$red:           	$brand-danger;
$orange:        	$brand-warning;
$blue:          	$brand-info;

$primary:           $brand-primary;                                    // Primary colour for buttons (alt)
$primarytext:       desaturate(lighten($primary, 50%), 18%);    // Text on primary colour bg

$secondary:         desaturate(lighten($primary, 40%), 21%);    // Secondary buttons
$secondarytext:     desaturate(darken($secondary, 60%), 21%);   // Text on secondary colour bg

$highlight:         $green; //adjust-hue($primary, 150deg);               // Prices, In stock labels, sales flash
$highlightext:      desaturate(lighten($highlight, 50%), 18%);  // Text on highlight colour bg

$contentbg:         transparent;                                       // Content BG - Tabs (active state)
$subtext:           $gray;                                       // small, breadcrumbs etc
