/**
 * Botões
 */

a {
	&:hover {
		opacity: 0.8;
	}
}

.btn,
.button {

	background-clip: padding-box;

	&:hover,
	&:active,
	&.active {

		box-shadow: inset 0 0 50px rgba(200,200,200, 0.3);
		opacity: 1;

	}
}

.btn-outline {
  @include button-variant($btn-outline-color, $btn-outline-bg, $btn-outline-border);
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, 1.25, $btn-border-radius-base);
}

/**
 * Navbar divider
 */

.navbar {
	.divider {
		pointer-events: none;
		opacity: .6;

		@media( max-width: $screen-sm-max ) {
			font-size: .9em;
			border-top: 1px solid $gray-lighter;
			margin-top: 10px;
		}
	}

	.empty {
		@media( max-width: $screen-sm-max ) {
			color: transparent;
			height: 1px;
			overflow: hidden;
			margin: 10px 0;
		}
	}
}

/**
 * Dropdowns
 */

.dropdown-menu {
	> li {

		& + li {
			border-top: 1px solid $gray-lighter;
		}

		> a {
			padding: 8px 20px;
			color: currentColor;
		}
	}
}


.glyphicon {
	.dropdown-menu &,
	.btn &,
	.list-group-item & {
		display: inline-block;
		min-width: 1.5em;
	}
}


/**
 *  Forms
 */

select,
textarea,
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]):not([type="button"]) {
	@extend .form-control;

	&:focus {
		color: $text-color;
	}
}

.form-row {
	@extend .form-group;
}

/**
 * List groups
 */

.list-group-item.collapse {
	padding: 0;
	overflow: hidden;
}

/**
 * BreadCrumbs
 */

.woocommerce-breadcrumb {
	margin-bottom: 20px;
}

/**
 * Tags
 */

 .tagcloud,
 .tag-links {
	a {
		display: inline-block;
		padding: 3px .3em;
		border: 1px solid #ddd;
		line-height: 2.5rem;
		vertical-align: middle;
		margin: 2px 1px;
	}
}
