/**
 * Botões
 */

a {
	&:hover {
		opacity: 0.8;
	}
}

.btn,
.button {

	background-clip: padding-box;

	&:hover,
	&:active,
	&.active {

		box-shadow: inset 0 0 50px rgba(240,240,240, 0.3);
		opacity: 1;

	}
}

.btn-outline {
  @include button-variant($btn-outline-color, $btn-outline-bg, $btn-outline-border);
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
}

.btn-forward {
	&:after {
		content: "\2002\2192";
		margin-right: -.5em;
	}
}

.btn-backward {
	&:before {
		content: "\2190\2002";
		margin-left: -.5em;
	}
}

/**
 * Navbar divider
 */

.navbar {
	.divider {
		pointer-events: none;
		opacity: .6;

		@media( max-width: $screen-sm-max ) {
			font-size: .9em;
			border-top: 1px solid $gray-lighter;
			margin-top: 10px;
		}
	}

	.empty {
		@media( max-width: $screen-sm-max ) {
			color: transparent;
			height: 1px;
			overflow: hidden;
			margin: 10px 0;
		}
	}
}

/**
 * Dropdowns
 */

.dropdown-menu {
	> li {

		& + li {
			border-top: 1px solid $gray-lighter;
		}

		> a {
			padding: 8px 20px;
			color: currentColor;
		}
	}
}


.glyphicon {
	.dropdown-menu &,
	.btn &,
	.list-group-item & {
		display: inline-block;
		min-width: 1.5em;
	}
}


/**
 *  Forms
 */

select,
textarea,
input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="reset"]):not([type="button"]) {
	@extend .form-control;

	&:focus {
		color: $text-color;
	}
}

.form-row {
	@extend .form-group;
}


// Select2 compatibility

select + .select2-container--default {
	@extend .form-control;
}

.select2-container--default .select2-selection--single {
	border: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 0;
}


// PagSeguro transparent checkout


.woocommerce-checkout,
#add_payment_method {
	#payment {
		ul.payment_methods {
			li {
				input {
					height: 2em;
				}
				label {
					padding: 1em 0;
					line-height: 1.3;
				}
				#pagseguro-payment-methods label {
					padding: 15px;
				}
			}
		}
		div.payment_box {
			padding: 3em;
			background-color: #f2f2f2;
			color: $text-color;

			&:before {
				border-bottom-color: #f2f2f2;
			}
		}
	}
}

#pagseguro-bank-transfer-form ul,
#pagseguro-payment-methods {
	margin: 0 0 20px;
}

.woocommerce ul.order_details li {
	margin-right: .2em;
	font-size: 1em;
	padding: 1em;
	margin-left: 0;
}




/**
 * List groups
 */

.list-group-item.collapse {
	padding: 0;
	overflow: hidden;
}

/**
 * BreadCrumbs
 */

.breadcrumb-wrapper {
	width: 100%;

	body.page-template-page-full & {
		margin-top: 80px;
	}

	body.page-template-page-banner &,
	body.page-template-page-banner-full & {
		margin-top: 80px;
		position: absolute;
		z-index: 9;
		color: rgba(#fff, .6);
		text-shadow: 0 0 20px rgba(#000, .5);

		a {
			color: #fff;
		}
	}

	body.page-template-page-banner.admin-bar & {
		top: 115px;

		@media( max-width: $screen-sm-max ) {
			top: 125px;
		}
	}
}

.woocommerce .woocommerce-breadcrumb,
.woocommerce-breadcrumb {
	margin-bottom: 20px;
	font-size: .9em;
	@include make-container();
}

/**
 * Tags
 */

 .tagcloud,
 .tag-links {
	a {
		display: inline-block;
		padding: 3px .3em;
		border: 1px solid #ddd;
		line-height: 2.5rem;
		vertical-align: middle;
		margin: 2px 1px;
	}
}
