body {
	&.admin-bar {
		@media ( max-width: $screen-xs-max ) {
			margin-top: $navbar-height;
		}
	}
}

a {
	transition: all .1s ease;

	&:hover {
		transition: all .1s ease;
	}
}

p {
	margin-bottom: 1.5em;
}

#wpadminbar {
	@media ( max-width: $screen-xs-max ) {
		position: fixed;
	}
}

#wrapper {
	overflow: auto;
	@include make-container();
	margin-top: 80px;

	body.page-template-page-home &,
	body.page-template-page-full &,
	body.page-template-page-banner &,
	body.page-template-page-banner-full &,
	body.page-template-page-landing & {
		width: 100%;
		margin-top: 0;
	}

	.wrapper-row {
		@include make-row();
	}

	@media( max-width: $screen-xs-max ) {
		body.admin-bar:not(.page-template-page-home) & {
			margin-top: 30px;
		}
	}
}

body.error404 {
	.page-content {
		text-align: center;
	}
}

.page-section {
	@include make-row();
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	a {
		color: inherit;
	}
}

h1, .h1, .page-section .section-title {
	@media ( max-width: $screen-xs-max) {
		font-size: calc(24px + 3vw);
	}
}

blockquote {
	padding: 1em 1em 1em 3em;
	margin: 0 0 1.5em;
	font-size: 1.3em;
	border: none;
	quotes: "\201C""\201D""\2018""\2019";
	position: relative;
    line-height: 1.35;

	&:before {
		content: open-quote;
		font-size: 10em;
		line-height: 1;
		position: absolute;
		left: 0;
		top: -.1em;
		opacity: .1;
	}
}

/**
 * Posts
 */

.hentry {

	&.loop {
		margin-top: 60px;

		.wp-post-image {
			width: 100%;
		}
	}

	.entry-link {
		display: block;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}

	&.post-full {
		.entry-header {
			text-align: center;
		}
	}

	&.single {
		.entry-header {
			margin-bottom: 3em;
		}
	}

	.entry-title {
		margin: 1em 0 .5em 0;

		a {
			color: inherit;
		}
	}

	.entry-meta {
		font-size: 12px;
		text-transform: uppercase;
		padding: 10px 0;
		margin: 0 0 10px;
		letter-spacing: .1em;


		> span {
			margin-right: 2em;

			@media ( max-width: $screen-xs-max) {
				display: block;
			}

			.glyphicon {
				min-width: 1.6em;
			}
		}
	}

	header .entry-meta {
		opacity: 0.6;
		padding-top: 0;
	}
}

.hentry.post,
.single-product {
	.entry-content {
		font-size: 1.1em;
		padding-top: 30px;
		padding-bottom: 30px;
		border-top: 1px solid $gray-lighter;
	}
}

.author-box {
	margin: 15px 0;
	border: 1px solid $gray-lighter;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.author-avatar {
		padding-top: 15px;
		padding-bottom: 15px;
		border-right: 1px solid $gray-lighter;

		.avatar {
			border: 1px solid $gray-lighter;
		}
	}

	.author-description {
		padding-top: 15px;
		padding-bottom: 15px;

		h2 {
			margin-top: 0;
		}
	}
}

#comments {
	margin-top: 60px;
}
