#wrapper {
	overflow: auto;

	body:not(.page-template-page-homeshop) & {
		@include make-container();
		margin-top: 80px;

		.wrapper-row {
			@include make-row();
		}
	}
}

.page-section {
	@include make-row();
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	a {
		color: inherit;
	}
}

/**
 * Posts
 */

.hentry {

	&.loop {
		margin-top: 30px;
		border: 1px solid $gray-lighter;

		> * {
			padding-left: 60px;
			padding-right: 60px;
		}

		.wp-post-image {
			margin: 0 -60px;
			max-width: calc(100% + 120px);
			width: calc(100% + 120px);
		}
	}

	.entry-link {
		display: block;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}

	.entry-title {
		a {
			color: inherit;
		}
	}

	.entry-meta {
		font-size: 12px;
		text-transform: uppercase;
		padding: 10px 0;
		margin: 0 0 10px;
		letter-spacing: .1em;


		> span {
			margin-right: 2em;
		}
	}
	header .entry-meta {
		opacity: 0.6;
		padding-top: 0;
	}

	&.post .entry-content {
		font-size: 1.1em;
		padding-top: 30px;
		padding-bottom: 30px;
		border-top: 1px solid $gray-lighter;
	}
}
