a {
	transition: all .1s ease;

	&:hover {
		transition: all .1s ease;
	}
}

#wrapper {
	overflow: auto;

	body:not(.page-template-page-homeshop) & {
		@include make-container();
		margin-top: 80px;

		.wrapper-row {
			@include make-row();
		}
	}

	@media( max-width: $screen-xs-max ) {
		body.admin-bar:not(.page-template-page-homeshop) & {
			margin-top: 30px;
		}
	}
}

.page-section {
	@include make-row();
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	a {
		color: inherit;
	}
}

h1, .h1 {
	@media ( max-width: $screen-xs-max) {
		font-size: floor(($font-size-base * 2.5));
	}
}

/**
 * Posts
 */

.hentry {

	&.loop {
		border: 1px solid $gray-lighter;

		& + & {
			margin-top: 30px;
		}

		> * {
			padding-left: 60px;
			padding-right: 60px;

			@media ( max-width: $screen-xs-max) {
				padding: 15px;
			}
		}

		.wp-post-image {
			margin: 0 -60px;
			max-width: calc(100% + 120px);
			width: calc(100% + 120px);

			@media ( max-width: $screen-xs-max) {
				margin: -15px -15px 0 -15px;
				max-width: calc(100% + 30px);
				width: calc(100% + 30px);
			}
		}
	}

	.entry-link {
		display: block;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}

	.entry-title {
		a {
			color: inherit;
		}
	}

	.entry-meta {
		font-size: 12px;
		text-transform: uppercase;
		padding: 10px 0;
		margin: 0 0 10px;
		letter-spacing: .1em;


		> span {
			margin-right: 2em;

			@media ( max-width: $screen-xs-max) {
				display: block;
			}
		}
	}

	header .entry-meta {
		opacity: 0.6;
		padding-top: 0;
	}

	&.post .entry-content {
		font-size: 1.1em;
		padding-top: 30px;
		padding-bottom: 30px;
		border-top: 1px solid $gray-lighter;
	}

}

.author-box {
	margin: 15px 0;
	border: 1px solid $gray-lighter;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.author-avatar {
		padding-top: 15px;
		padding-bottom: 15px;
		border-right: 1px solid $gray-lighter;

		.avatar {
			border: 1px solid $gray-lighter;
		}
	}

	.author-description {
		padding-top: 15px;
		padding-bottom: 15px;

		h2 {
			margin-top: 0;
		}
	}
}
