
// ==========================================================================
// Header
// ==========================================================================
#header {
    .navbar-brand {
		padding: 0 30px 0 15px;

		.site-title {
			margin: 0;
			height: $navbar-height;
			display: inline-block;
			font-size: $font-size-h2;
			color: currentColor;

			@media( max-width: $screen-xs-max ) {
				font-size: 1em;
			}
		}

		a {
			display: block;
			color: currentColor;
			line-height: 1.1;
			position: relative;
			top: 50%;
			transform: translateY(-50%);

			@media( max-width: $screen-xs-max ) {
				max-width: 120px;
			}

			&:hover {
				text-decoration: none;
			}
		}

		img {
			height: auto;
			max-width: 100%;
			max-height: $navbar-height;
			width: auto;
			vertical-align: baseline;
		}
	}

    #main-navigation {

		box-shadow: 0 0 40px rgba(0,0,0,0.1);

		.page-template-page-home & {
			margin-bottom: 0;
		}

		.admin-bar &.navbar-fixed-top {
			margin-top: 46px;
		}

		@media( min-width: $screen-md-min ) {
			.admin-bar &.navbar-fixed-top {
				margin-top: 32px;
			}
		}

		.navbar-right {
			position: relative;
			margin-right: 0;

			@media( max-width: $screen-sm-max ) {
				position: absolute;
				top: 0;
				right: 100px;

				.navbar-text {
					float: left;
					margin-right: 15px;
				}
			}

			@media( max-width: $screen-xs-max ) {
				right: 70px;
			}
		}
    }

	.navbar-main-navigation {
		@media (min-width: $screen-md-min) {
			padding: 0;
		}
	}
}

.navbar-default .navbar-text {
	opacity: 0.7;
}

.navbar-toggle {
	padding: 13px !important;
}

/**
 * Header shopping cart WooCommerce
 */

.btn-cart {
	@media( max-width: $screen-xs-max ) {
		padding: 10px;
	}
}

.header-cart {
	min-width: 250px;
	padding: 0;
	margin: 1px 0;
	overflow-y: auto;
	max-height: calc(100vh - 70px);

	@media( max-width: $screen-sm-max ) {
		right: 0;
		position: fixed;
		top: 60px;
	}

	@media( min-width: $screen-sm-min ) and (max-width: $screen-sm-max ) {
		.admin-bar & {
			max-height: calc(100vh - 106px);
			top: 106px;
		}
	}

	@media( min-width: $screen-md-min ) {
		max-width: 25vw;
	}

	.cart-link a {
		padding: 10px;
		text-align: center;
		display: block;
		color: currentColor;
	}

	.mini_cart_item + .mini_cart_item {
		border-top: 1px solid $gray-lighter;
	}

	.woocommerce.widget_shopping_cart .cart_list li a.remove,
	.woocommerce .widget_shopping_cart .cart_list li a.remove {
		position: absolute;
		top: 10px;
		right: 10px;
		left: auto;
	}

	img {
		float: none;
		position: absolute;
		left: 10px;
		max-width: 2.5em;
		max-height: 2.5em;
		height: auto !important;
		width: auto !important;
	}

	.variation {
		font-size: 0.7em;
		color: currentColor;
		text-transform: uppercase;
		opacity: .8;
	}

	.quantity {
		font-size: .9em;
		letter-spacing: 0.05em;
	}

	.cart-info {
		padding: 20px;
		text-align: center;

		h3 {
			margin: 0;
			color: currentColor;
		}
	}
}

.page-header,
body.page .entry-header {
	padding-bottom: 10px;
	margin-bottom: 40px;
	border-bottom: 1px solid $gray-lighter;
}
