.sidebar {
	.widget-title {
		margin-top: 0;
		color: currentColor;
	}

	.widget + .widget {
		margin-top: 60px;
	}

	ul, ol {
		list-style: none;
		padding: 0;
		line-height: 1.7;

		ul, ol {
			padding-left: 1.5em;
		}
	}

	li {
		&:before {
			content: '\203A';
			margin-right: 0.5em;
			color: currentColor;
		}
	}

	a {
		color: currentColor;
	}
}

.sidebar-collapse-toggle {
	margin-left: 30px;
}

.sidebar-collapse-wrapper {
	width: 100%;
}

.sidebar-dropdown-wrapper {
	min-width: 300px;
	right: 0;
	left: auto;
}

.sidebar-dropdown {
	.widget {
		padding: 15px;

		& + .widget {
			margin-top: 15px;
		}

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}
}

#sidebar {
	padding-bottom: 60px;
}
