.sidebar {
	.widget-title {
		margin-top: 0;
	}

	.widget + .widget {
		margin-top: 40px;
	}

	ul, ol {
		list-style: none;
		padding: 0;
		line-height: 1.4;

		ul, ol {
			padding-left: 1.5em;
		}
	}

	li {
		margin: 10px 0 0 0;

		&:before {
			content: '\203A';
			margin-right: 0.8em;
			color: currentColor;
			opacity: .8;
		}
	}

	.widget_wpcom_social_media_icons_widget {
		li {
			&:before {
				content: none;
			}

			a {
				font-size: 2em;
				padding-right: .2em;
			}
		}
	}

	a {
		color: currentColor;
	}
}

.sidebar-collapse-toggle {
	margin-left: 30px;
}

.sidebar-collapse-wrapper {
	width: 100%;
}

.sidebar-dropdown-wrapper {
	min-width: 300px;
	right: 0;
	left: auto;
}

.sidebar-dropdown {
	.widget {
		padding: 15px;

		& + .widget {
			margin-top: 15px;
		}

		:first-child {
			margin-top: 0;
		}

		:last-child {
			margin-bottom: 0;
		}
	}
}

#sidebar {
	padding-bottom: 60px;
}
